<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta name='description' content='CSGames 20224 - art forgery'>
  <meta name='author' content='Capucinoxx'>
  <meta name='source' content='Carter Lovelace https://codepen.io/carterfromsl'>
  <link rel='icon' href='favicon.ico' type='image/x-icon'>
  <title>Art Forgery</title>
  <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  {% block content %}
  {% endblock %}
</body>
  